/* Container styles */
.profile-grid-container {
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 1%;
}

.column-1 {
  
  width: 45%;
  margin: 5%;
  display: flex; /* Use flexbox layout */
  flex-direction: column; /* Arrange child elements vertically */
  align-items: center; /* Center child elements horizontally */
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5); /* Add drop shadow */
  background-color: rgb(255, 255, 255);
  border-radius: 2%;
  padding: 1%;
}

      
/* Picture container styles */
.picture-container {
  position: relative;
  width: 100%;
  padding-top: 100%; 
  
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  border-radius: 8px;
  background-color: #f0f0f0;
}

.picture-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.picture-container span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  
  opacity: 0;
  transition: opacity 0.3s ease;
  font-weight: bold;
  font-size: 1.2rem;
  z-index: 10;
}

.picture-container:hover span {
  opacity: 1;
}

.picture-container input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 20;
}

.display-name-container {
  display: flex; 
  align-items: center; /* Center elements horizontally */
  margin-top: 10px; 
  background-color: white;
}

.display-name-container input {
  height: 45px; 
  font-size: 25px;  
  background-color: white;
}

.display-name-container span {
  font-size: 30px; 
  transition: font-size 0.3s;
}

.save-button, 
.edit-button {
  background-color: #1434a4;
  color: white;
  border: none;
  padding: 4px 16px;
  border-radius: 5px;
  cursor: pointer;
  height: 45px;
  margin-left: 20px;
  font-size: 30px; 
}

.display-name-container.saved span {
  /* Style for the displayed name after it is saved */
  font-size: 30px; /* Set a larger font size */
}

.change-password {
   display:flex;
   flex-direction: column;
   align-items: center; 
   background-color: #1434a4;
   border-radius: 3%; 
   margin-top: 7%; 
   font-size: 20px;
   width: 70%;
   padding: 0%;
   margin-bottom: 10%;
}

.change-password-button {
  background-color: #1434a4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 50px;
  margin: 10%;
  font-size: 20px; 
  width: 100%;
}

.change-password-link {
  color: white;
  cursor: pointer;
  font-size: 25px;
  margin: 5%;
}

.change-password-input {
  width: 100%;
  height: 70px;
  margin: 10px; 
}

.password-error {
  /* Styles for password error message */
  color: red;
  margin-top: 5px;
}

.column-2 {
  margin: 5%;
  width: 45%; /* Adjust width as needed */
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5); /* Add drop shadow */
  background-color: rgb(255, 255, 255);
  border-radius: 2%;
  padding: 1%;
}

/* Button CSS Styling */

.bio-header {
  text-align: center; 
  font-size: 40px; 
  margin-bottom: 10px; 
}

.bio-container {
  text-align: center;
  margin-top: 5%;
}

.bio-textarea {
  width: 90%;
  font-size: 30px; 
  background-color: #cfddff;
}

.save-bio-button {
  background-color: #1434a4;
  color: white;
  border: none;
  padding: 4px 8px;
  border-radius: 5px;
  cursor: pointer;
  height: 40px;
  margin-left: 30%;
  font-size: 30px; 
}

/*    Delete Account Row     */

.delete-row{
  display: flex;
}
.delete-column{
  width: 100%;
  margin: 1%;
  display: flex; /* Use flexbox layout */
  flex-direction: column; /* Arrange child elements vertically */
  align-items: center; /* Center child elements horizontally */
  padding: 1%;
}
.delete_button {
  background-color: #1434a4;
  color: white;
  border: none;
  border-radius: 10%;
  cursor: pointer;
  padding: 20px 30px; /* Adjust padding as needed */
  margin: 0;
  font-size: 30px; /* Adjust font size as needed */
}

.delete-button-container {
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
  width: 100%; /* Optionally, adjust width as needed */
}

/*    End of Delete Account Row     */



/*    Your Project Row     */

/* Styles for each profile row */
.project-row {
  background-color: rgb(216, 216, 249); 
  display: flex;
  margin: 20px 0;
}

.project-column {
  width: 100%;
  margin: 5%;
  display: flex; /* Use flexbox layout */
  flex-direction: column; /* Arrange child elements vertically */
  align-items: center; /* Center child elements horizontally */
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5); /* Add drop shadow */
  background-color: rgb(255, 255, 255);
  padding: 1%;
}

/*   End of your Project Row     */



/* Styles for each profile row */
.profile-row {
  background-color: rgb(216, 216, 249); 
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
